########################################################################
#
# File:   MANIFEST.in
# Author: Stefan Seefeld
# Date:   2003-08-28
#
# Contents:
#   qmtest - Distutils distribution files
#
# Copyright (c) 2003-2007 by CodeSourcery, Inc.  All rights reserved. 
#
# For license terms see the file COPYING.
#
########################################################################

include ChangeLog COPYING README NEWS qm/external/DocumentTemplate/LICENSE.txt
include MANIFEST.in setup.py

# These are the modules included in the 'qm' package.
recursive-include   qm *.py
# Scripts
include             scripts/*
# These are documentation sources (docbook) and compilation harness (xslt etc.)
recursive-include   doc *
# These are data files used by various parts of QMTest.
include             qm/test/classes/classes.qmc
recursive-include   share *
recursive-include   templates *
recursive-include   benchmarks *
recursive-include   tests *
recursive-include   scripts *
# These are extension modules for the build system.
recursive-include   qmdist *

# Suppress svn bookkeeping files.
global-exclude */.svn/*

