/* Document body.  */

body {
    margin-top: 16;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 16;
    color: black;
    background: white;
    font-family: arial,sans-serif;
}

body.help {
    margin-top: 8;
    margin-left: 8;
    margin-right: 8;
    margin-bottom: 8;
    color: black;
    background: #ffffd0;
}

body.popup {
    background: #c0c0c0;
}

/* Links.  */

a:link {
    color: #500060;
}

a:visited {
    color: #500060;
}

a:active {
    color: #500060;
}

a:hover {
    color: #500060;
}

table {
}

th {
    color: white;
    background-color: #808080;
    text-align: left;
    text-decoration: bold;
}

td {
}

th.issue_class {
    background-color: #e0e0e0;
    color: black;
    text-align: left;
    text-decoration: bold;
}

span#colhead {
    background-color: black;
    color: white;
}

a#colhead {
    color: white;
    background-color: #808080;
}

a.reverse {
    color: white;
    background-color: black;
}

span.fieldname {
    font-weight: bold;
}

span#button {
    color: red;
    background-color: black;
}

span.error {
    color: c00000;
}

tr.field {
    background-color: f0f8ff;
}

tr.field-error {
    background-color: fff0f8;
}

tr.heading {
    background-color: e8e8e8;
}

span.userid {
    color: 102050;
}

a.userid {
    color: 102050;
}

a.help-link {
    font-size: xx-small;
    color: 402090;
}

table.navbar {
    background-color: black;
}

td.navbar {
    color: white;
}

a.navbar {
    color: white;
}
